@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
@import url(https://fonts.googleapis.com/css?family=Arimo);

*{box-sizing:border-box;}

html, body {
	margin: 0;
	padding: 0p;
}


body{
	font-family: 'Arimo';
	background-image: url(img/background.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
}

a{
	text-decoration:none;
	display: inline-block;
	padding: 20px;
	color: rgb(137,124,103);
}

nav > ul{
	font-family: 'Titillium Web';
	border-top: 2px rgb(229,150,75) solid;
	border-bottom: 2px rgb(229,150,75) solid;
	background-color: rgba(46,42,39,.45);
	text-align: center;
	padding: 5px;
}

nav > ul > li{
	display:inline-block;
	text-align: center;
}

nav > ul > li > ul{
	background-color: rgba(46,42,39,.45);
	list-style: none;
	padding: 0;
	display: none;
	position: absolute;
	border-bottom: 2px rgb(229,150,75) solid;
}

nav > ul > li:hover{
	background-color: rgba(92,84,78,0.45);
  border-radius: 5px;
}

nav > ul > li > ul >li:hover{
	background-color: rgba(92,84,78,.45);
  border-radius: 5px;
	}

nav > ul > li:hover > ul{
	display: block;
}

